body{
  margin: 0px;
}
td {
    height: 50px;
    vertical-align: center;
}
.text {
  padding-left: 20px;
}

/*----------------------- Langding Page ---------------------------*/

html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
#render-target{
  height: 100%;
}
.hide{
  display: none;
}
.btnGetStart{
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.button-secondary{
    text-align: center;
    padding: 1% 5% 1% 5%;
}

.headerLeftNav{
  background-color: #ff6666;
}

.icon-help{
  background-image: url('icons/img/help.png');
  width: 33px;
  height: 32px;
  background-repeat: no-repeat;
}

.icon-call{
  background-image: url('icons/img/call.png');
  width: 33px;
  height: 32px;
  background-repeat: no-repeat;
}

.icon-back{
  background-image: url('icons/img/back.png');
  width: 33px;
  height: 32px;
  background-repeat: no-repeat;
}

/*----------------------------------- End Langding Page --------------------------------*/

/*----------------------------------- Home Page ----------------------------------------*/

.appbar{
  position: fixed;
  top: 0;
}

/*----------------------------------- End Home Page ----------------------------------------*/
